* {
    padding: 0px;
    margin: 0px;
}

#select_city_name {
    grid-area: select_city;
    text-align: center;
    padding-top: 20px;
}

#city_name {
    font-size: 18px;
}

#accept_city_name {
    font-size: 25px;
}

.header {
    background: rgb(169, 169, 169, 0.4);
    grid-area: header;
    display: flex;
    justify-content: space-around;
}

.left {
    background-color: rgb(169, 169, 169, 0.2);
    grid-area: left;
    font-family: gabriola;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
}

.footer {
    background: rgb(169, 169, 169, 0.4);
    grid-area: footer;
    text-align: right;
    color: #2600FF;
    display: flex;
    flex-direction: column-reverse;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "header header header header header header header header header" "select_city select_city select_city select_city select_city select_city select_city select_city select_city" "left main main main main main main main main" "left main main main main main  main main main" "footer footer footer footer footer footer footer footer footer";
    grid-template-rows: 100px 70px 120px 1fr 100px;
    grid-template-columns: 250px repeat(8, 1fr);
    min-height: 100vh;
    
}

button {
    background: border-box;
    border: none;
    outline: none;
    font-family: gabriola;
    font-size: 70px;
    cursor: pointer;
}

span {
    display: block;
    font-family: gabriola;
    font-weight: bold;
    font-size: 30px;
}

.main {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.main_3hours {
    grid-row: 4 / 5;
    text-align: center;
    border-radius: 20px;
}

.left li {
    font-size: 24px;
    background: border-box;
}