*{
    padding: 0px;
    margin: 0px;
}
.header{
    background: yellow;
    grid-area: header;
    display: flex;
    justify-content: space-around;
}
.left{
    background: purple;
    grid-area: left;
}
.right{
    background: palegreen;
    grid-area: right;
}
.footer{
    background: orange;
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-areas: "header header header header header header header header header"
                        "left main main main main main main main main"
                        "left main main main main main  main main main"
                        "footer footer footer footer footer footer footer footer footer";
    grid-template-rows: 100px repeat(2, 1fr) 100px;
    min-height: 100vh;
}
button{
    background: springgreen;
    border-style: dashed;
    border-radius: 40px;
    border-color: yellow;
    font-family: gabriola;
    font-size: 70px;
}

span{
    display: block;
}

.main{
    grid-row: 2 / 3;
}
.main_3hours{
    grid-row: 3 / 4;
}
